.ModalHead {
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.08em;

    color: #FFFFFF;
}

.Modal {
    width: 245px !important;
    border-radius: 0px !important;
}

.ant-modal-header {

    background: transparent !important;
}

.ant-modal-content{
    background: linear-gradient( #171717 31%, #282828 31%)!important;
    border-radius: 0px !important;
}

.ModalInput {
    padding: 5px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 26px;
    border:0px;
}

.ModalButton {
    background: #1DB954;
    border-radius: 33px;
}