.customSvg {
    color:white;
}

.centerFooter {
   text-align: center;
}

.centerSlider {
    display: flex !important;
    justify-content: center;
    align-content: center;
}

.button {
    
    background: #FFFFFF;
}
.slide{
  
    background-color: #535353;
    border-radius: 2.5px;
    height: 7px;
    width: 633px;
}

.ant-slider-handle {
    opacity: 0;
}