.customSvg {
    color:white;
}

.centerFooter {
   text-align: center;
    
    
}

.button {
   
    
}
.slide{
  
    background-color: #535353;
    border-radius: 2.5px;
}

.ant-slider-handle {
    opacity: 0;
}