.heade {
    width: auto;
    height: 245px;
    background-color: black;
    text-align: center;
}
.CardPlaylistHeade {
    border-radius: 0px;
    text-align: center;
    
}
.titleInCover {
    font-weight: 700;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
   
}
.titleMainHeader{
    display: flex;
    text-align: center !important;
 
}

.textHeader {
    width: auto;
    height: 245px;
    font-weight: 700;
    font-size: 96px;
    letter-spacing: -0.02em;
    left: 50px;
    color: #FFFFFF;
}
.CardPlaylistCoverMainPage {
    width: 185px;
    height: 185px;
    border-radius: 4px 0px 0px 4px;
    left: 50px;
    top: 28px;
    

}

.wrapeur {
    display: flex;
    flex-wrap: wrap;
}