.heade {
    width: auto;
    height: 245px;
    background-color: black;
    text-align: center;
}
.CardPlaylistHeade {
    border-radius: 0px;
    text-align: center;
}

.textHeader {
    width: auto;
    height: 245px;
    display: flex;
   
    font-weight: 700;
    font-size: 96px;
    line-height: 10px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}
.CardPlaylistCoverMainPage {
    width: 185px;
    height: 185px;
    border-radius: 4px 0px 0px 4px;
    left: 50px;
    top: 28px;
    
   
}