.ant-table-content, .ant-table-thead, .ant-table-cell , .ant-table{
    color: #FFFFFF !important; 
    border: 0px !important;
    background-color: transparent !important;
}

.inputPlaylist {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    border: 0px;
    width: 256px;
    height: 32px;
}

 .ant-select-selector{
   
    border: 0px  !important;
    background: #535353 !important;
    border-radius: 23px  !important;
    
}

.ant-select-selection-placeholder {
    
    color: #FFFFFF !important; 
}