.ant-table-content, .ant-table-thead {
   
}

.inputPlaylist, .ant-input {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    border: 0px;
    width: 256px;
    height: 32px;
}

 .ant-select-selector {
   
    border: 0px  !important;
    background: #535353 !important;
    border-radius: 23px  !important;
    
}

.ant-select-selection-placeholder {
    font-weight: 400 !important;
    font-size: 10px !important;
    line-height: 12px !important;   
    color: #FFFFFF !important; 
}