.ant-table-content, .ant-table-thead {
   
}

.inputPlaylist, .ant-input {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    border: 0px;
    width: 256px;
    height: 32px;
}