.ant-layout-header {
    padding-inline: 0 !important;
    
}

footer , .ant_layout-footer{
   background: #181818 !important;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   
}
.ant-layout-sider-children{
    overflow: auto;
    height: 100vh;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color : rgba(0, 0, 0);
    
}

.ant-menu-item , .ant-menu-inline.ant-menu-root,.ant-menu-vertical.ant-menu-root{
    padding: 15px;
    margin: 10px;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color : rgba(0, 0, 0);
}

.ant-image-img {
    
    margin-top: 40px;
    margin-bottom: 40px;

}

